.vendre-header {
  @include flex-center;
  justify-content: space-between;
  padding: 1rem;
  
}
a {      
  text-decoration: none;        
  padding: 0 20px;
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  font-family: $font-family;
  font-weight: bold;
  color: $font-color;
  letter-spacing: 0.28px;
  transition: 0.2s ease;
}
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.hamburger-icon {
  width: 25px;
  height: 2px;
  background-color: $primary-color;
  display: block;
  position: relative;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  width: 25px;
  height: 2px;
  background-color: $primary-color;
  position: absolute;
  left: 0;
}

.hamburger-icon::before {
  top: -8px;
}

.hamburger-icon::after {
  top: 8px;
}

.top-menu {
  display: flex;
  align-items: center;
}

.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}


.header-links-position {
  position: relative;
  color: $font-color;
}

.svg-icon {
  text-decoration: none;
  color: inherit;
}

/* Media Query for smaller View */
@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .top-menu {
    display: none;
    flex-direction: column;
    // width: 100%;
    position: absolute;
    top: 50px;
    right: 37px;
    padding: 1em;
    width: fit-content;
    background-color: $secondary-color;
    z-index: 1;
  }

  .top-menu.menu-open {
    display: flex;
  }
}
