.image-text {
  @include flex-center;
  flex-flow: row wrap;

  .image {
    max-width: 40%;
    @include flex-center;

    img {
      max-width: 60%;
      height: auto;
      border-radius: 50%;
    }
  }

  .title {
    @include flex-center;
    flex-direction: column;    
    text-align: center;
    width: 50rem;
    h1 {
      font-size: 3rem;
      color: $font-color;
      font-family: $font-family;
      font-weight: 700;
    }
    .subtitle {
      font-size: 1.25rem;
      line-height: 1.7;     
      font-family: $font-family;
      margin: 0 1em;
      color: $font-color;
      max-width: 98%;
      font-weight: 700;
    }
  }
}
@media (max-width: 768px) {
  
  .image-text{
    .image {
    display: none; 
    }
    .title {
      text-align: center;
      h1 {
        font-size: 2rem;
      }
      .subtitle {
        font-size: 1rem;
      }
    }
  }
  
}
